body{
    background-color: turquoise;
    font-family: sans-serif;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav > ul{
    display: flex;
    flex-direction: row;
}
nav> ul >li {
    list-style: none;
    flex-direction: row;
    padding: 20px;
    border: solid orange;
    background-color: aquamarine;
}
ul > li:hover{
    background-color: aquamarine;
}
.nav-list {
    list-style: circle;
    color: white;
}
.icon{
     width: 80px;
     height: 80px;
     background-color: green;
     margin: 10px;
}
