* {
    box-sizing: border-box;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

body {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: orange;
    justify-content: space-between;
}
.nav--list{
    display: block;
    display: flex;
    flex-direction: row;
}
.list--el{
    display: block;
    padding: 10px;
    margin: 10px;
    border: solid 1px black;
    flex: 1;
}
footer{
    background-color: #21222A;
    color: white;
}
.top-icon {
    width: 100px;
    height: 100px;
}
main >ul> li{
    padding-block: 10px;
}
main> ul{
    max-width: 600px;    
}
